---
import Image from "astro/components/Image.astro";
import heroImage from "#assets/images/hero.png";
import canva from "#assets/icons/canva.png";
import affinity from "#assets/icons/afinnity-designer.png";
import css from "#assets/icons/css.png";
import figma from "#assets/icons/figma.png";
import html from "#assets/icons/html.png";
import javascript from "#assets/icons/JS.png";
import react from "#assets/icons/react.png";
import tailwind from "#assets/icons/tailwind.png";
---

<section
  class="relative h-screen"
  style={{
    backgroundImage: `url(${heroImage.src})`,
    backgroundSize: "cover",
    backgroundPosition: "center",
  }}
>
  <div
    class="w-full h-screen flex items-center justify-center md:justify-end flex-col gap-14 pb-0 md:pb-32"
  >
    <div
      class="flex flex-col lg:flex-row items-center lg:items-end justify-center gap-5 md:gap-8 lg:gap-32"
    >
      <h2
        class="flex flex-col text-center lg:text-left font-lemonmilk text-tertiary font-medium text-3xl md:text-5xl lg:text-7xl 3xl:text-8xl"
      >
        <span>Olive </span>
        <span>Menorah</span>
      </h2>
      <p
        class="flex flex-col text-center lg:text-left font-helvetica text-tertiary text-md md:text-xl 3xl:text-3xl"
      >
        <span>UI/UX Designer</span>
        <span>Frontend Developer</span>
      </p>
      <button
        class="text-center text-md md:text-xl 3xl:text-2xl border rounded-full border-tertiary border-opacity-40 px-4 md:px-6 py-0 md:py-2 bg-tertiary bg-opacity-15 hover:bg-primary hover:bg-opacity-15 hover:border-opacity-100 hover:scale-105"
        type="button">Connect Now</button
      >
    </div>
    <div class="flex justify-center gap-5 lg:gap-20 flex-wrap lg:flex-nowrap">
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={javascript}
          alt="javascript"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          id="javascript"
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
        >
          javascript
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={figma}
          alt="figma"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 4s;"
        >
          figma
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={canva}
          alt="canva"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 8s;"
        >
          canva
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={affinity}
          alt="affinity"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 12s;"
        >
          affinity
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={react}
          alt="react"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 16s;"
        >
          react
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={html}
          alt="html"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 20s;"
        >
          html
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={css}
          alt="css"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 24s;"
        >
          css
        </p>
      </div>
      <div class="flex flex-col gap-5 justify-center items-center">
        <Image
          src={tailwind}
          alt="tailwind"
          class="w-10 h-10 md:w-12 md:h-12 3xl:w-16 3xl:h-16 hover:scale-110"
        />
        <p
          class="font-lemonmilk text-xs lg:text-sm text-tertiary animated-slide"
          style="animation-delay: 28s;"
        >
          tailwind
        </p>
      </div>
    </div>
  </div>
  <div
    class="absolute w-full bottom-0 pb-0 bg-gradient-to-t from-secondary to-transparent h-28"
  >
  </div>
</section>

<style>
  .animated-slide {
    opacity: 0;
    animation: slideInOut 4s ease-in-out 1;
  }

  @keyframes slideInOut {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    10% {
      opacity: 1;
      transform: translateX(0);
    }
    80% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-10px);
    }
  }
</style>
